<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
	</system.web>
	<connectionStrings>
		<add name="DelonixRegia" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=DelonixRegia;Integrated Security=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="recaptchaPublicKey" value="6LcY3AcTAAAAAFTjLsfxObo9GQXPadEUY2Wo1480" />
		<add key="recaptchaPrivateKey" value="6LcY3AcTAAAAAGGUziuxy1geldx5FMQun4ZKBfIz" />
	</appSettings>
</configuration>
